@font-face {
  font-family: "iconfont"; /* Project id 3836127 */
  src: url('iconfont.woff2?t=1671694010824') format('woff2'),
       url('iconfont.woff?t=1671694010824') format('woff'),
       url('iconfont.ttf?t=1671694010824') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cloud:before {
  content: "\e601";
}

.icon-zaixianxuanfang:before {
  content: "\e605";
}

.icon-guanzhu-zhihui:before {
  content: "\e606";
}

.icon-guanbi:before {
  content: "\e607";
}

.icon-zhifudingjin:before {
  content: "\e608";
}

.icon-zaixianzixun:before {
  content: "\e609";
}

.icon-jubao:before {
  content: "\e60a";
}

.icon-fenxiang:before {
  content: "\e60b";
}

.icon-fanhui:before {
  content: "\e60c";
}

.icon-xihuan:before {
  content: "\e60d";
}

.icon-a-fenxiang2:before {
  content: "\e60e";
}

.icon-anquanbaozhang:before {
  content: "\e60f";
}

.icon-a-dingwei2:before {
  content: "\e610";
}

.icon-dingwei:before {
  content: "\e611";
}

.icon-bangzhu:before {
  content: "\e70e";
}

.icon-bianji:before {
  content: "\e70f";
}

.icon-feiji:before {
  content: "\e710";
}

.icon-pinglun:before {
  content: "\e713";
}

.icon-shanchu:before {
  content: "\e714";
}

.icon-yuyan:before {
  content: "\e717";
}

.icon-yujing:before {
  content: "\e718";
}

